.container{
    width: 100%;
    height: 30vw;
    border: 1px solid gray;
    display: flex;
    
}

.left__wrap{
    width: calc(100%/2);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    margin: 24px 12px 24px 24px;
    
}
.title{
    width: 100%;
    height: calc(100%/4);
    border: 1px solid black;
}

.right-wrap{
    width: calc(100%/2);
    border: 1px solid gray;
    margin:24px 24px 24px 12px;
}

.tiny-wrapper{
    width: 100%;
    height: calc(100%/4);
    display: flex;
    justify-content: space-between;
}

.tiny-box{
    width: calc(100%/3.5);
    border: 1px solid black;
    
}
